@model CarRentCompanyDotnet.Models.Car

@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

    <div class="modal-content">
        <div class="modal-header">
            <button class="close" data-dismiss="modal" area-hidden="true">X</button>
            <h4>Информация об автомобиле</h4>
        </div>
        <div class="modal-body">
            <dl class="dl-horizontal">
                <dt>Марка автомобиля:</dt>
                <dd>@Html.DisplayFor(model => model.Brand)</dd>

                <dt>Общая информация</dt>
                <dd>@Html.DisplayFor(model => model.Info)</dd>

                <dt>Цена</dt>
                <dd>@Html.DisplayFor(model => model.Price)</dd>

                <dt>Доступность</dt>
                <dd>@Html.DisplayFor(model => model.Avaliability)</dd>
            </dl>
        </div>
        <div class="modal-footer">
            <a class="btn btn-primary" href="/Home/ShowCars" role="button">Назад</a>
            <a class="btn btn-primary" href="/Home/SendRequest/@Model.Id" role="button">Отправить запрос на аренду</a>
            @*<button type="button" class="btn btn-secondary" data-dismiss="modal">Назад</button>
            <button type="button" class="btn btn-primary">Отправить запрос на аренду</button>*@
        </div>
    </div>
@Scripts.Render("~/bundles/jquery")
@Scripts.Render("~/bundles/bootstrap")